<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rel.mujde">

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_info_details"
        android:label="Toast Config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Configure custom toast messages for apps" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedsharedprefs"
            android:value="true" />
        <meta-data
            android:name="xposedscope"
            android:value="com.android.chrome, com.facebook.katana, com.instagram.android, com.twitter.android, com.whatsapp, com.google.android.youtube, com.spotify.music, com.snapchat.android, com.reddit.frontpage, com.amazon.mShop.android.shopping, com.google.android.apps.maps" />
    </application>
</manifest>
